RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php   
Options All -Indexes
ErrorDocument 403 http://joaprototipado.tonohost.com/errores/pag403.html
ErrorDocument 404 http://joaprototipado.tonohost.com/errores/pag404.html
ErrorDocument 500 http://joaprototipado.tonohost.com/errores/pag500.html